<div id="banner" style="background: no-repeat center 33% url(images/lg-skull.svg);background-size: 40vh 40vh;"></div>
<div id="desc">
<h1>Todd Resudek</h1>
<h2>Human Software Developer</h2>
</div>
<div id="links">
  <a href="https://twitter.com/sprsmpl">Twitter</a>
  <a href="https://github.com/supersimple">Github</a>
  <a href="/blog">Blog</a>
  <a href="https://trydevi.to">Devito</a>
  <a href="https://colour.wtf">WTF Colour?</a>
  <a href="https://randomuu.id">RandomUUID</a>
</div>
